<div class='comment'>
  <span class='question-show-votes-container'>
    <%= render partial: 'shared/comment_votes', layout: false, locals: { question: question, comment: comment } %>
  </span>
  <p><%= comment.body %></p>
</div>