<% responses.each do |response| %>
  <div class='response'>
    <p><%= response.user.email %>: <%= response.created_at.strftime("on %m/%d/%Y at %I:%M%p") %></p>
    <p><%= response.body %></p>
  </div>
<% end %>
