<div class='form-container'>
  <div class='form-header'>
    <h2>Here is the form title!</h2>
  </div>

  <div class='form-body'>
    <form class="new_question" id="new_question" action="/questions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="UYphbl9kf67s9lIEoCDc4MiJWOvo/f2WdDTAASwFslzKk+fxj+D1rs2ZOxypr+sJK/3DCKJTdPjZCUlL59DIuw==" />
      <p>Here is a description regarding the form.</p>

      <ul>
        <li>
          <label for="question_title">Title</label>
          <input type="text" name="question[title]" id="question_title" />
        </li>
        <li>
          <label for="question_body">Body</label>
          <textarea name="question[body]" id="question_body">
          </textarea>
        </li>
      </ul>

      <input type="submit" name="commit" value="Create Question" />
    </form>
  </div>
</div>