.question-show-container {
  margin-bottom: 10px;

  .question-show-question {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px $orange solid;

    .question-show-question-header {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: $orange;
      padding: 0 10px 10px;

      h1 {
        margin: 0;
        padding: 10px;
        font-family: $font-title;
      }

      p {
        margin: 0;
        padding: 0 35px;
      }
    }
    .question-show-question-body {
      margin: 0 15px;
      position: relative;
      p {
        margin-bottom: 5px;
      }
    }
    .question-show-question-footer {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      padding: 0 15px;
      width: 100%;

      p {
        background-color: $purple;
        margin: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 5px 25px;
      }

      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  
  .question-show-comments {
    border-top: 2px $purple solid;
    padding: 5px;

    .comment {
      border-top: 2px $pink solid;
      padding: 5px 0;
      margin: 0 15px;

      &:first-child {
        padding-top: 0;
        border: none;
      }

      p {
        margin: 2px;
        font-size: 15px;
        &:nth-child(2) {
          padding-left: 15px;
        }
        a {
          text-decoration: none;
          font-weight: 700;
        }
      }
      .unvoted a {
        color: $orange;
        &:hover {
          color: $pink;
        }
      }
      .voted-up {
        a:first-child {
          color: red;
        }
        a:nth-child(2) {
          color: $orange;
        }
        a:hover {
          color: $pink;
        }
      }
      .voted-down {
        a:first-child {
          color: $orange;
        }
        a:nth-child(2) {
          color: red;
        }
        a:hover {
          color: $pink;
        }
      }
    }
  }

  .best-answer {
    background-color: $blue;
    .best-answer-box {
      width: 100%;
      text-align: center;
      font-family: $font-title;
      padding-bottom: 10px;
      p {
        margin: 0;
      }
    }
  }

  .question-show-answers {
    margin-top: 20px;

    .question-show-answers-header {
      display: flex;

      h2 {
        text-align: center;
        margin: 0;
        padding: 10px;
        background-color: $pink;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    .question-show-answers-container {
      border: 2px $pink solid;
      border-top: none;

      .question-show-answer {
        padding: 0 15px;
        border-top: 8px $pink solid;
        padding-top: 15px;

        &:first-child {
          border-top: none;
        }
        .question-show-answer-body {
          position: relative;
          p {
            margin: 0;
            &:first-child {
              padding-left: 0;  
              margin-bottom: 8px;
              font-size: 16px;
            }
            padding-left: 20px;
          }
        }
        .question-show-answer-footer {
          font-size: 15px;
          text-align: right;
          padding-right: 20px;
          padding-top: 10px;
          width: 100%;
          display: flex;
          justify-content: space-around;

          .question-show-answer-add-comment {
              background-color: $purple;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              padding: 5px 25px;
            p {
              margin: 0;
            }

            a {
              text-decoration: none;
              color: white;
              &:hover {
                color: $yellow;
              }
            }
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }

  .question-show-votes {
    $vote-size: 80px;
    position: absolute;
    left: -$vote-size;
    top: $vote-size / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px $purple solid;
    border-radius: $vote-size;
    height: $vote-size;
    width: $vote-size;
    flex-direction: column;
    background-color: $yellow;
    a {
      text-decoration: none;
      font-weight: 600;
      color: $purple;
      &:hover {
        color: $green;
      }
    }
  }

  .voted-up {
    a:first-child {
      color: red;
      &:hover {
        color: $green;
      }
    }
  }
  .voted-down {
    a:nth-child(2) {
      color: red;
      &:hover {
        color: $green;
      }
    }
  }
}

.question-all-container {
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
  .question-header {
    h2 {
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      padding-top: 0;
    }

    .question-header-links {
      display: flex;
      justify-content: center;

      ul {
        list-style-type: none;

        li {
          display: inline;
          padding-right: 20px;
        }
      }
    }
  }

  .question {
    $border-radius: 10px;
    width: 100%;
    border: 2px $orange solid;
    border-radius: $border-radius;
    margin-bottom: 30px;

    .question-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-top-right-radius: $border-radius - 2px;
      border-top-left-radius: $border-radius - 2px;
      padding: 8px;
      margin: 0px;
      background-color: $orange;

      h4 {
        margin: 0;
      }

      .question-votes {
        $vote-size: 80px;
        position: absolute;
        right: -$vote-size / 4;
        top: -$vote-size / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $yellow;
        border: 2px $purple solid;
        border-radius: $vote-size;
        height: $vote-size;
        width: $vote-size;
      }
    }
    .question-content {
      padding: 15px;

      p {
        margin: 5px 15px;
      }
    }
  }
}
